<table class="table-bordered park-table">
  <tr *ngFor="let row of spaceMatrixService.parkSpaces;">
    <td *ngFor="let cell of row;">
      <i class="fab fa-gitkraken" *ngIf="cell && cell.pos.facing === parkFacing.N"></i>
      <i class="fab fa-gitkraken fa-rotate-90" *ngIf="cell && cell.pos.facing === parkFacing.E"></i>
      <i class="fab fa-gitkraken fa-rotate-180" *ngIf="cell && cell.pos.facing === parkFacing.S"></i>
      <i class="fab fa-gitkraken fa-rotate-270" *ngIf="cell && cell.pos.facing === parkFacing.W"></i>
    </td>
  </tr>

</table>
