<div class="w-100 text-center">
  <h4>Car Park Simulator</h4>
</div>
<div class="row">
  <div class="col-md-8 col-sm-12 text-center order-sm-1 order-md-1 mb-5">
    <app-car-park-table></app-car-park-table>
  </div>
  <div class="col-md-4 col-sm-6 order-sm-3 order-md-2">
    <app-result></app-result>
  </div>
  <div class="col-md-12 col-sm-6 order-sm-2 order-md-3">
    <app-command></app-command>
  </div>
</div>
