<div>
  <h6 for="commandInputArea">Command</h6>
  <div class="row">
    <div class="col-md-2 col-sm-12">
      <input type="text" [(ngModel)]="placeCmd" (keyup.enter)="dispatchPlaceCmd()" class="form-control mt-sm-2"
             placeholder="e.g. PLACE 1,1,NORTH">
    </div>
    <div class="col-md-2 col-sm-12 mt-2">
      <a class="btn btn-light w-100" (click)="dispatchOtherCmd('L')">Left</a>
    </div>
    <div class="col-md-2 col-sm-12 mt-2">
      <a class="btn btn-light w-100" (click)="dispatchOtherCmd('R')">Right</a>
    </div>
    <div class="col-md-2 col-sm-12 mt-2">
      <a class="btn btn-light w-100" (click)="dispatchOtherCmd('MOVE')">Move</a>
    </div>
    <div class="col-md-2 col-sm-12 mt-2">
      <a class="btn btn-light w-100" (click)="dispatchOtherCmd('REPORT')">Report</a>
    </div>
  </div>
</div>
